/* Color Scheme
light salmon= #F8B195
hot pink= #F67280
majenta= #C06C84
purple= #6C5B7B
navy blue= #355C7D 





*/




body {
	font-family: "Open Sans Condensed", sans-serif;
	background:#355C7D ;
	color:#355C7D;
}

a {
	text-decoration: none;
	padding: 15px;
}

a:hover{
	background:pink ;
}
 
 .wrapper {
	background-color:#F8B195 ;
	max-width: 1024px;
	width: 1024px;
	margin:0px auto;
}

img {
	width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu Condensed", sans-serif;
}

article {
	width:25%;
	background:#6C5B7B ;
	margin:10px 5px 10px 5px;

}

section {
	background: white;
}

.left-side-picture {
	margin-left: 10px;
}

.right-side-picture {
	margin-right: 10px;
}

.hobby {
}

/*
	Nav Section
*/

.nav {
	border-bottom: 1px solid black;
	padding: 5px;
	text-align: right;
} 

.nav a {
	margin-right: 5px;


}

 /*
	Bio Section
 */

 .bio {
 	background:#F67280 ;
 	height:700px;
 	width: auto;
 	text-align: left;
}

.bio-div {
	padding-top: 4px;
	padding-right: 500px;
}

.bio p {
	color:#355C7D;
}

.bio h1 {
	color:#355C7D;
}

/*
	Hobby Section
*/
  
.item-text {

	padding: 10px;
}

.hobby {
	background:#C06C84 ; 
	display: flex;
}

.icon {
	width: 75px;
	height: 75px;
}

.hobby-picture-div {
	width: 30%;
}

.hobby-text-div {
	width: 70%;
}

/* 
   Intro Section
*/
 .intro {
    background: #F8B195;
 	text-align: center;
 	
 }
 .intro-img {
 	 
 	width: 200px;
 	height: 200px;
   border-radius: 50%;
 overflow: hidden;
 margin: 15px auto;
} 
.intro p{
	margin-bottom:0;
}

.student-photo a {
	width: 175px;
	height: 175px;
	overflow: hidden;
	padding: 0;
}

.student-photo a:hover {
	background: none;
}

